* {
  margin: 0;
  bottom: 0;
}

.nav-bg-color {
  background: #2f3d46;
}

.letter-spacing {
  letter-spacing: 3px;
}

.body-bg-color {
  background: #cad2c5;
}

.bg-content {
  background: #353535;
}

.box {
  padding: 70px 0;
  border-radius: 15px;
}

.box-1 {
  padding: 70px 100px;
  border-radius: 15px;
}
